#background {
    width: 100%;
    height: 100%;
    fill: black;
}
.hours {
    font-family: Colfax-Regular;
    font-size: 50;
    text-anchor: end;
    x: 50%+7;
    y: 50%;
    fill: white;
}
.mins {
    font-family: Colfax-Regular;
    font-size: 50;
    text-anchor: start;
    x: 50%-5;
    y: 50%;
    fill: white
}
.under {
    opacity: 0.5;
}
.top {
    opacity: 1;
}

.text {
    font-family: Colfax-Regular;
    font-size: 25;
    text-anchor: middle;
    fill: white;
    opacity: 1;
    
}